
// Body
$body-bg: rgb(189, 196, 118);

$dark-green: rgb(119,135,55);
$dark-purple: rgb(73,64,92);

// Typography
$font-family-sans-serif: 'Josefin Slab', serif;
// $font-size-base: 0.9rem;
// $line-height-base: 1.6;
