
// Fonts
@import url("https://fonts.googleapis.com/css?family=Josefin+Slab|Sacramento");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.arrow-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid black;
}



// Brought in from design concept

body{
  /*possible colors from "fresh lilac" image*/
  /* rgb(244,239,211) #DDD8FF*/
  /* background-color: rgb(244,239,211); */
  background: $body-bg;
  color: rgb(244,239,211);
  // font-weight: bold;
  font-size: 1.5em;
  height: 100%;
}

a{
    color: rgb(244,239,211);
    /* need something here for when a is hovered over. */
}
a:hover {
  color: rgb(244,239,211);
}

h1{
  font-size: 4em;
}

h2{
  font-size: 3em;
}

p{
  font-size: 1.5em;
}

.text-large {
  font-size: 1em;
}

.background-gradient {
 background: -webkit-linear-gradient(left top, $body-bg, $dark-green); /* For Safari 5.1 to 6.0 */
 background: -o-linear-gradient(bottom right, $body-bg, $dark-green); /* For Opera 11.1 to 12.0 */
 background: -moz-linear-gradient(bottom right, $body-bg, $dark-green); /* For Firefox 3.6 to 15 */
 background: linear-gradient(to bottom right, $body-bg, $dark-green); /* Standard syntax */
}

.navbar{
    /* background-color: rgb(244,239,211);  */
    background-color: $dark-purple;
    font-size: 1.5em;
    justify-content: left;
}

.navbar a{
  padding-left: 20px;
}

.section{
  background-color: $dark-green;
  margin: 0.5em auto;
  padding: 2em;
  text-align: center;
  overflow: hidden;
  border-radius: 15px;
  /*opacity in case we decide on a video background*/
  /*background-color: rgba(119,135,55, 0.75);*/
}

#top-header{
  padding: 0.5em 0em !important;
}

.primary-font{
  font-family: 'Sacramento', cursive;
}

.dark-purple{
    /* this is a bit darker purple. from fresh bloom color pallete */
    /* color: rgb(135,122,150); */
    color: $dark-purple;
}

.light-purple{
    /* this is a bit darker purple. from fresh bloom color pallete */
    /* color: rgb(135,122,150); */
    color: rgb(230, 222, 246);
}

.hidden{
  display: none;
}

.fade-in {
  opacity: 0;
  animation: fadeIn .25s ease-in 1 forwards;
}

.is-paused {
  animation-play-state: paused;
}

.recipe-item{
  background-color: $dark-green;
  font-size: 40px;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  margin: 10px;
  vertical-align: middle;
  line-height: 150px;
  height: 150px;
}

.recipe-item:nth-child(2n){
  background-color: $dark-purple;
}

footer{
    /* same as dark purple */
    background-color: $dark-purple;
}

footer a{
    color: inherit;
}

@mixin placeholderSettings {
font-size: 1.5em;
color: $dark-purple;
}
.form-control {
  @include placeholderSettings;
}
// .form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
//   @include placeholderSettings;
// }
// .form-control::-moz-placeholder { /* Firefox 19+ */
//   @include placeholderSettings;
// }
// .form-control:-ms-input-placeholder { /* IE 10+ */
//   @include placeholderSettings;
// }
// .form-control:-moz-placeholder { /* Firefox 18- */
//   @include placeholderSettings;
// }

@media (min-device-width: 640px) {
/*@media (min-device-width: var(--breakpoint-sm)) {*/
  #top-header{
    width: 50%;
  }
  .section{
    border-radius: 15px;
  }

  .text-large {
    font-size: 1.5em;
    // font-weight: 600;
  }

}

span{
  display: inline-block;
}

.slide-in-animation{
  animation: slidein infinite 10s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slidein {
  0% {
    transform: translateY(300px);
  }

  25% {
    transform: translateY(0px);
    color: rgb(244,239,211);
  }

  90% {
    transform: translateY(0px);
    color: rgb(244,239,211);
  }

  100% {
    color: #778737;
  }
}
